<nav class="navbar">
    <h1 class="logo"><span class="text-primary"><i class="fa-solid fa-car"></i> Westcoast</span> Cars</h1>
    <ul>
        <li><a asp-action="Index" asp-controller="Home">Start</a></li>
        <li><a asp-action="Index" asp-controller="Vehicles">Våra bilar</a></li>
        <li><a href="#">Boka Service</a></li>
        @if (User.IsInRole("Admin") || User.IsInRole("Salesperson"))
        {
            <li><a asp-action="Index" asp-controller="Admin"><i class="fa-solid fa-plus"></i></a></li>
        }
        @if (User.Identity.IsAuthenticated)
        {
            <li><span class="text-white">Welcome, @User.Identity.Name!</span></li>
            <li>
                <form asp-controller="Auth" asp-action="Logout" method="post" id="logoutForm">
                    <button type="submit" class="btn btn-link nav-link text-white">Logout</button>
                </form>
            </li>
        }
        else
        {
            <li><a asp-controller="Auth" asp-action="Login" class="nav-link text-white">Login</a></li>
        }
    </ul>
</nav>